*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    color: aliceblue;
}
body{
    background-color: #094bff54;
}

nav{
    display: flex;
    flex-direction: column;
}
.nav{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
.newBook{
    padding: 8px;
    background-color: #6b91f8;
    border: none;
    border-radius: 5px;
    color: rgb(48, 48, 48);
    font-weight: bold;
    font-size: 1rem;
    transition: 200ms;
    border: 2px solid rgba(0, 0, 0, 0.144);
}
.newBook:hover{
    background-color: #003ada;
    color: white;
}
.formBook{
    display: flex;
    flex-direction: column;
    margin:auto;
    margin-top: 20px;
    width: 220px;
    background-color: #094bff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.37);
    padding: 10px;
}
.formBook h1{
    font-size: 1.5rem;
}
.formBook label{
    margin: 10px 0px 0px 0px;
}
.formBook div{
    margin-top: 10px;
    margin-bottom: 10px;
}
.formBook input{
   margin-top: 5px;
   color: black;
}
.submit{
    margin-top: 10px;
    color: black;
    width: 25%;
}
main h2{
    margin-left: 20px;
    font-size:2.5rem;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.356);
    background-color: #007DE8;
    margin: auto;
    margin-top: 20px;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.137);
}
section{
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(216, 216, 216);
    padding: 10px;
    box-shadow: 1px 4px black;
    border-top: 2px solid black;
}
.card{
    width: 250px;
    margin-top: 20px;
    height: 300px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.37);
    background-color: #094bff;
    position: relative;
    transition: 500ms;
    cursor: pointer;
   
}
.card:hover{
    background-color: #118cf7;

}
.card h1{
    text-align: center;
    margin-top: 20px;
    color:#031c63
}
.card h5{
    text-align: center;
    margin-top: 5px;
}
.card .pages{
    position: absolute;
    top: 90%;
    right: 10px;
    margin-right: 8px;
    margin-top: 10px;
}
.readed{
    color: rgb(28, 241, 28);
    background-color: green;
    padding: 5px;
    text-align: center;
    margin-top: 20px;
}
.not-readed{
    color: red;
    background-color: rgb(73, 3, 3);
    padding: 5px;
    text-align: center;
    margin-top: 20px;
}