*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    color: aliceblue;
}
body{
    background-color: #094bff54;
}
#content{
    position: fixed;
    width: fit-content;
    right: 0;
    top: 0;
    padding: 20px;
}
nav{
    display: flex;
    flex-direction: column;
}
.nav{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
.formBook{
    display: flex;
    flex-direction: column;
    margin:auto;
    margin-top: 20px;
    width: 220px;
    background-color: #094bff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.37);
    padding: 10px;
}
.formBook h1{
    font-size: 1.5rem;
}
.formBook label{
    margin: 10px 0px 0px 0px;
}
.formBook div{
    margin-top: 10px;
    margin-bottom: 10px;
}
.formBook input{
   margin-top: 5px;
   color: black;
}
.submit{
    margin-top: 10px;
    color: black;
    width: 25%;
}
main{
    display: flex;
    justify-content: space-between;
}
main h2{
    margin-left: 20px;
    font-size:2.5rem;   
    background-color: #007DE8;
    margin: auto;
    margin-top: 20px;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}
section{
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: space-around;
    width: 70%;
}
.card{
    width: 250px;
    margin-top: 20px;
    height: 300px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.37);
    background-color: #094bff;
    position: relative;
    transition: 500ms;
    cursor: pointer;
}
.card:hover{
    background-color: #118cf7;

}
.card h1{
    text-align: center;
    margin-top: 20px;
    color:#031c63
}
.card h5{
    text-align: center;
    margin-top: 5px;
}
.card .pages{
    position: absolute;
    top: 90%;
    right: 10px;
    margin-right: 8px;
    margin-top: 10px;
}
.readed{
    color: rgb(28, 241, 28);
    background-color: green;
    padding: 5px;
    text-align: center;
    margin-top: 20px;
}
.not-readed{
    color: red;
    background-color: rgb(73, 3, 3);
    padding: 5px;
    text-align: center;
    margin-top: 20px;
}
.deleteBtn{
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
    background-image: url(img/garbage.png);
    border: 1px solid white;
    background-size: cover;
    position: absolute;
    top: 285px;
    left: -10px;
    transition: 300ms;
}
.deleteBtn:hover{
    transform: scale(120%);
}

.hidden{
    width: fit-content; 
    height: fit-content;
    color: black;
    padding: 5px;
    border-radius: 10px;
    border: none;
    right: 22rem;
    animation: back 2000ms linear infinite;
    cursor: pointer;
}
@keyframes back{
    0%{top: 35rem;}
    50%{top:34.1rem;}
    100%{top:35rem;}
}
@media screen and (max-width:1100px) {
    section{
        grid-template-columns: repeat(2, 1fr);
        margin-left: 20px;
    }
    .hidden{
        right: 2rem;
    }
}
@media screen and (max-width:930px) {
    section{
        grid-template-columns: repeat(1, 1fr);
        margin-left: 20px;
    }
}
@media screen and (max-width:610px) {
    main{
        flex-direction: column;
    }
    #content{
        position: relative;
        margin: auto;
    }
    section{
        justify-self: center;
        margin-left: 0px;
        align-self: center;
    }
    .card{
        justify-self: center;
        align-self: center;
    }
}